body {
        background-color: #141952;
}

/* Put picture for header and page background */

div#header>h1 {
        text-align: center;
        color: #cc9a5d;
        text-shadow: 0pt 0pt 3pt white;
        font-size: 64pt;
        margin-bottom: -0.35em;
}

div#header>h2 {
        text-align: center;
        color: #cc9a5d;
        text-shadow: 0pt 0pt 3pt white;
        font-size: 32pt;
}

img#header {
        border-radius: 10px;
        width: 85%;
        margin-top: 15px;
        margin-bottom: 25px;
}

div#body {
        background-color: #4F2C00;
        color: #cc9a5d;
        /* color: #df8b32; */
        /* color: #f0a048; */
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-shadow: 0pt 0pt 2pt white;
        border-radius: 7pt;
        box-shadow: 5pt 5pt 7pt white;
        width: 95%;
        margin: auto;
        min-height: 575px;
}

div#nav {
        text-align:center;
        padding-top: 1.5em;
}

div#nav > a {
	text-decoration:none;
	font-size:18pt;
	text-align:center;
	font-weight:500;
        font-size: 32pt;
	color:#cc9a5d;
	margin-left:1.2%;
	margin-right:1.2%;
}

div#nav > a.current {
        text-shadow: 3pt 3pt 5pt black;
}

div#content {
        margin-left: 2.5%;
        margin-right:2.5%;
}

div#content > h3 {
        font-size:24pt;
        text-shadow: none;
}

div#content > h3 > a {
        font-size:24pt;
        text-decoration: none;
        text-shadow: none;
        color:inherit;
}

div#content > h4 {
        font-size:18pt;
        text-shadow: none;
}

div#content > p {
        font-size:14pt;
        text-shadow: none;
        margin-left: 2.5%;
        margin-right: 2.5%;
        font-weight: bold;
}

div#content > p > a {
        text-decoration: none;
        color: inherit;
        text-shadow: 0pt 0pt 1pt white;
}
