@charset "utf-8";
/* CSS Document */

table img{
	width:50%;
	box-shadow:3px 3px 5px #CCC;
}

td {
	vertical-align:top;
}

div.body p {
	text-align:justify;
	margin-left:40px;
	margin-right:40px;
	margin-top:7px;
}

div.body h3 {
	margin-top:0px;
	margin-bottom:7px;
}