@charset "utf-8";
/* CSS Document */

body {
	background-color:#700;
}

img.header {
	width:90%;
	border-radius:10px;
	box-shadow:5px 5px 10px #999;
}

div.body {
	background-color:#666;
	border-style:outset;
	border-radius:10px;
}

div.body img.nav {
	width:9%;
}

div.body div.dropdown>img.nav {
	width: 100%;
}

div.dropdown {
	width:9%;
}

.dropdown-content > a {
	font-family:Verdana, Geneva, sans-serif;
}

div.body p {
	margin-left:50px;
	margin-right:50px;
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
}

div.body > p a{
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
}

div.body h3 {
	margin-left:10px;
	margin-right:10px;
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:28px;
}

div.body h1 {
	margin-left:25px;
	margin-right:25px;
	color:#000;
	font-family:"Arial Black", Gadget, sans-serif;
	text-shadow:3px 3px 5px #CCC;
}

div.leftcol {
	float:left;
	width:45%;
}

div.rightcol {
	float:right;
	width:45%;
}