@charset "utf-8";
/* CSS Document */

/*a.nav {
	border-width:medium;
	text-align:center;
	border-color:#333;     /*Color of the pill border*
	border-style:solid;
	border-radius:10px;    /*Roundness of the pill border. Higher value means more rounded corners*
	background-color:#999; /*Background of the pill*
	padding-left:10px;     /*Left padding (spacing fron text to edge of pil)*
	padding-right:10px;    /*Right padding*
	padding-top:7px;       /*Top padding*
	padding-bottom:7px;    /*Bottom padding*
	color:#000;            /*Text color*
	font-size:18pt;        /*Font size. Use "pt" ending, not "px"*
	text-decoration:none;
	margin:auto;
}

a.active {
	background-color:#00F; /*Background for the pill of the active page*
	border-style:inset;
}*/

.dropdown {
	position:relative;
	display:inline-block;
}

.dropdown-content {
	display: none;
    position: absolute;
    background-color: #FFF;  /*Background of the dropdown menu contents*/
    min-width: 160px;
	border-radius:5px;       /*Roundness of the drop-down menu corners. If you change this, change the border-radius in ".dropdown-content > a" to the same value.*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /*Shadow for drop-down menu. rgba color values scale from 0 to 1. Alpha is transparency. 1 is opaque.*/
	text-align:center;
}

.dropdown-content > a {
	display:block;
	border-radius:5px;
	padding:15px;             /*Padding. Adds space between the edges and other links. Decrease if you want less space, and increase if you want more.*/
	text-decoration:none;
	color:#000;
}

.dropdown-content a:hover {background-color: #999} /*Color of the drop-down link mouse is hovering over*/

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}