div#body {
    text-align: center;
}

div#content > h1 {
    font-size: 24pt;
    text-shadow: none;
}

div#content > h2 {
    font-size:18pt;
}

div#content > h3 {
    font-size:16pt;
    font-weight: bold;
}

div#content > h1#title {
    font-size:48pt;
}
