@charset "utf-8";
/* CSS Document */

div.sign-in {
	background-color:#CCC;
	box-shadow:5px 5px 5px #999;
	margin:30%;
	text-align:center;
}

table.sign-in {
	margin-left:20%;
	margin-right:20%;
}

/*Temporary styles*/
body {
	background-color:#900;
}

div.body {
	background-color:#FFF;
	margin-left:7%;
	margin-right:7%;
	box-shadow: 5px 5px 15px #333;
	text-align:center;
}

h1.title {
	text-align:center;
	font-size:64pt;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color:#900;
	box-shadow:3px 3px 10px #333;
	margin-left:10%;
	margin-right:10%;
}

div.body > p {
	font-size:18px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-left:15%;
	margin-right:15%;
}

div.body > p > a {
	font-size:18px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#900;
	text-decoration:none;
}

div.body > h3 {
	text-align:center;
	font-size:32px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

div.body > img {
	width:80%;
}

table {
	width:100%;
	table-layout:fixed;
}

p {
	font-size:16px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#000;
	text-decoration:none;
}

a {
	text-decoration:none;
}

div.nav a > p {
	font-size:18px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#900;
	text-decoration:none;
}

h3.or {
	color:#FFF;
	font-size:18px;
	text-align:center;
	margin-bottom:5px;
}

table.or {
	width:25%;
	table-layout:fixed;
}

table#bibliography {
	text-align:left;
}

table#bibliography p {
	text-indent: -50px;
	text-align:left;
	margin-left:20%;
	margin-right:20%;
}

a.or > p {
	color:#FFF;
	font-size:16px;
	margin-top:5px;
}
/*End temporary styles*/